#calcolatrice{
    margin-left: 40%;
}
#calcolatrice h1{
    margin-left: 35px;
}
#calcolatrice form {
    border-style: solid;
    border-color: black;
    padding: 8px;
    width: 20%;
    text-align: center;
}
#calcolatrice a{
    margin-left: 78px;
}

#diecinum{
    margin-left: 40%;
}
#diecinum h1{
    margin-left: 45px;
}
#diecinum form {
    border-style: solid;
    border-color: black;
    padding: 20px;
    width: 20%;
    text-align: center;
}
#diecinum a{
    margin-left: 78px;
}